
* {
    box-sizing: border-box;
}
.content {
    font-family: IBM Plex Sans,sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f5f7fa;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 2;
}



.content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between; 
    flex-grow: 1;
    padding-top: 38px;
    
}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    
    width: 100%;
    height: 50px;


    &__logo {
        width: 184px;
        background-image: url(https://i.gstatvb.com/443f12ae58703b7caca9bc908a4ad210.rng.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        color: #fff;
    }

    &__text {
        margin-right: 16px;
    }

    &__btw-wrapper {
        display: flex;
        align-items: center;
    }

    &__btn {
        min-width: 112px;
        min-height: 40px;
        cursor: pointer;

        color: #fff; 
        border: 1px solid #fff;
        border-radius: 8px;
        background: hsla(0, 0, 100%, 0);

        font-size: 14px;
        letter-spacing: .56px;
        transition: .1s;
    }
}   

.header__btn:hover {
    background: #f73c76;
    transition: .1s;
}

.core {
    display: flex;
    position: relative;
}

.main {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 30px;
}

.description {
    margin-bottom: 128px;
    color: #fff;

    &__header {
        letter-spacing: .9px;
        font-size: 56px;
        line-height: 72px;
        font-weight: 600;
    }

    &__text {
        letter-spacing: .45px;
        font-size: 28px;
        line-height: 37px;
    }
}

.lable {
    letter-spacing: .48px;
    text-transform: uppercase;
    color: #30455c;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;      
}

.signin .registr1 {
    display: none;
}
.login .registr2 {
    display: none;
}

.registr {
    width: 100%;
    max-width: 384px;
    min-height: 472px;
    max-height: 536px;

    padding: 40px;
    border-radius: 8px;
    background: #fff;
    
    &__header {
        width: 100%;
        max-width: 304px;
        height: 81px;
        margin-bottom: 36px;
        border-bottom: 1px solid #f0f2f4;
        
        letter-spacing: .19px;
        color: #30455c;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    &__btn-wrapper {
        margin-top: 25px;
        justify-content: center;
        display: flex;
    }

    &__btn {
        border-radius: 8px;
        background: #f73c76;
        color: #fff;
        cursor: pointer;
        border: none;

        font-weight: 600;
        letter-spacing: .56px;

        min-width: 176px;
        min-height: 40px;

        box-shadow: 0px 10px 20px #f73c76;
    }
}

.navigation__block:active {
    pointer-events: none;
    background: #f62465;
}

.navigation .active {
    pointer-events: none;
    background: #f62465;
}

    .navigation {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &__block{
            width: 32px;
            height: 4px;
            margin: 5px;
            border-radius: 2px;
            background: #f0f2f4;
        }
    }

.forgot-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 35px;
}

.forgot-btn {
    cursor: pointer;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #f62465;
    border: none;
    outline: 0;
    background: 0 0;
    font: 700 10px/13px IBM Plex Sans;
    font-size: 10px;
    line-height: 13px;
}

.input {
    width: 100%;
    height: 40px;
    margin: 5px 0 20px;
    padding: 7px 10px;
    color: #30455c;
    border: 1px solid #dce1e6;
    border-radius: 8px;
    background: #f5f7fa;
    font-size: 14px;
    line-height: 24px;
}

.date-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between  ;

    &__month {
        width: 128px;
    }

    &__day {
        width: 72px 
    }

    &__year {
        width: 88px
    }
}

.video-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper::before{ 
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -1px;
    width: 100vw;
    min-height: 83px;
  
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwLjAyNSIgaGVpZ2h0PSI3MS42NTkiPjxwYXRoIGQ9Ik0xNDQwIDM0LjU2Yy04My43NDcuMDc2LTIxMS45Ni0xLjA0NS0zNjYtNy42NzgtMTQzLjU2Mi02LjE4Mi0yNDMuMjg2LTE0LjMtMjgzLTE3LjIwOUM2NDAuMzQ5LTEuMzcyIDM5Ny4yMTItNy42MjEgMCAxNy4zNTF2NTQuMzA1cTcxOS41LS4wMTYgMTQ0MCAwYy4wNjQuMTExLS4wMTYtMzYuOTg1IDAtMzcuMDk2eiIgZmlsbD0iI2Y1ZjdmYSIvPjwvc3ZnPg==) 50%/cover no-repeat;
}



.video, .video-wrapper::after {    
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-wrapper::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    opacity: .7;

    background: transparent linear-gradient(180deg,rgba(9,41,104,.6),rgba(246,36,101,.502)) 0 0 no-repeat padding-box;
}

.footer {
    display: flex;
    position: relative;
    background: #f5f7fa;
    padding-bottom: 20px;
    z-index: 1;

    &__info {
        max-width: 23rem;
        margin: 0 auto;
        text-align: center;
    }

    &__doc {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        justify-content: center;
    }

    &__info-link {
        height: 24px;
        margin: 0 4px;
        padding: 5px 8px;

        cursor: pointer;
        text-decoration: none;
        letter-spacing: .4px;
        text-transform: uppercase;
        color: #a1a9b3;

        border: 0;
        border-radius: 8px;
        outline: 0;
        background: 0 0;
        font-size: 10px;
        font-weight: 600;
        line-height: 13px;
    }

    &__supp {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__cards {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        min-width: 154px;
    }
}

.footer__nav li {
    margin: 3px 0;
}

.supp {
    color: #30455c;
    font-size: 12px;
    line-height: 1.33;
}

.sup-mail {
    color: #f62465;
    font-weight: 700;
}

.copyright-revised {
    text-align: center;
    color: #a1a9b3;
    font-size: 12px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.card-img {
    max-height: 24px;
}

.mc {
    margin-left: 8px;
}


                    //MEDIA


@media screen and (max-width:1440px) {
    .container {
        max-width: 1020px;
        padding: 0 10px;
    }

    .core {

    }

    .main {

    }
}

@media screen and (max-width:1024px) {
    .container {
        max-width: 760px;
        padding: 0 15px;
    }

    .content {
        flex-grow: unset;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }   

    .description {
        margin: 90px auto 50px;
        text-align: center;
    }

    .description__header {
        font-size: 35px;
        line-height: 46px;
    }

    .description__text {
        font-size: 22px;
        line-height: 32px;
    }

    .video-wrapper {
        height: 55%;
    }

    .footer {
        margin-top: auto;
    }
}

@media screen and (max-width: 660px) {
    .container {
        min-width: 288px;
        max-width: 100%;
    }

    .content {
        padding-top: 15px;
    }  

    .header__logo {
        width: 40px;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+PHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiByeD0iOCIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0zNC4wNzUgMTUuNDY0Yy0xLjktNC4yNzItNy45NjYtMy4zODgtMTIuMTc5LTMuMzg4bC0zLjU5MiAxNS43aDUuODE2YzIuODY3IDAgNS41Ni0uNDkgNy41ODMtMi40MzJhMTAuMjI4IDEwLjIyOCAwIDAwMi4zNzItOS44OHptLTMuNzE3IDQuNDVjLS40MzEgMS44ODgtLjg3OCAzLjkyLTMuMiA0LjcxNGExNC4zMTEgMTQuMzExIDAgMDEtNC40Ny4yNjZsMi4yOS05LjkzNmMxLjI5MSAwIDMuMjQxLS4yODggNC40MTMuMjU4IDIuMDIuOTQ4IDEuMzMzIDMuMTE2Ljk2NiA0LjY5OHpNNiAyOGwzLjU5LTE1LjdoMy43MTdsLTIuOTIxIDEyLjgyMmg2LjU2MUwxNi4yODMgMjh6IiBmaWxsPSIjZjYyNDY1Ii8+PC9zdmc+);
    }

    .header__text {
        display: none;
    }

    .main {

    }

    .description {
        margin: 50px auto 35px;
    }

    .description__header {
        font-size: 22px;
        line-height: 29px;
    }

    .description__text {
        font-size: 14px;
        line-height: 24px;
    }

    .date-wrapper {
        flex-direction: column; 
    }

    .date-wrapper__month, .date-wrapper__day, .date-wrapper__year {
        margin-bottom: 8px;
        width: 100%;
    }

    .video-wrapper {
        height: 42%;
    }

    .registr {
        padding: 25px;

        &__header {
            min-width: 240px;
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;

            font-size: 18px;
            line-height: 24px;
        }
    }

    .footer {
        padding-bottom: 25px;

        &__doc {
            flex-direction: column;
        }

        &__supp {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__cards {
            justify-content: center;
        }
    }

    .supp, .copyright-revised {
        margin-bottom: 25px;
    }
}